<ion-header>
  <ion-navbar>
    <ion-title>
      {{ 'Projects' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-card class="member" (click)="openPage('BorderlinePage')">
        <img src="assets/images/borderline.jpg" />
        <ion-card-content>
            <ion-card-title>
                {{'Project' | translate }} Borderline
            </ion-card-title>
            <p>
                {{ 'An Android game who use canvas and animations' | translate }}
            </p>
        </ion-card-content>
    </ion-card>
    <ion-card class="member" (click)="openPage('MimirPage')">
        <img src="assets/images/mimir.jpg" />
        <ion-card-content>
            <ion-card-title>
                {{'Project' | translate }} Mimir
            </ion-card-title>
            <p>
                {{ 'A enigm game on Windows Phone who use the components of the device' | translate }}
            </p>
        </ion-card-content>
    </ion-card>
        <ion-card class="member" (click)="openPage('GeocatchingPage')">
        <img src="assets/images/fossegrim.jpg" />
        <ion-card-content>
            <ion-card-title>
                {{'Project' | translate }} Geocatching
            </ion-card-title>
            <p>
                {{ 'A team game with aim of catch areas in map' | translate }}
            </p>
        </ion-card-content>
    </ion-card>
    <ion-card class="member" (click)="openPage('GeotweetPage')">
        <img src="assets/images/geotweet.jpg" />
        <ion-card-content>
            <ion-card-title>
                {{'Project' | translate }} GeoTweet
            </ion-card-title>
            <p>
                {{ 'An Android application who can allow to locate the hashtags in a map' | translate }}
            </p>
        </ion-card-content>
    </ion-card>
</ion-content>
