<ion-header>
    <ion-navbar>
        <ion-title>
            Geotweet
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-card id="info">
        <img src="assets/images/geotweet.jpg" />
        <ion-card-content>
            <ion-card-title>
                Geotweet
            </ion-card-title>
            <p>
                {{ 'An Android application who can allow to locate the hashtags in a map' | translate }}
            </p>
            <p>
                <strong>{{ 'Platform : ' | translate }}</strong>
                <ion-icon color="androidColor" name="logo-android"></ion-icon> Android
            </p>
            <p>
                <strong>{{ 'Team : ' | translate }}</strong>
                Benarroche Marion, Rosso Jessica, Quachéro Alaric, Blancheton Fabien
            </p>
            <p>
                <strong>{{ 'Time : ' | translate }}</strong>
                1 {{ 'Months' | translate }}
            </p>
        </ion-card-content>
        <a ion-button href="https://bitbucket.org/Fodzii/geotweetlp">
            <ion-icon name="git-branch"></ion-icon>
            {{ 'Repository' | translate }}
        </a>
         <a ion-button href="https://play.google.com/store/apps/details?id=com.sophiaantipolis.quacheton.geotweetlp&hl=fr">
            <ion-icon name="download"></ion-icon>
            {{ 'Download' | translate }}
        </a>
    </ion-card>
</ion-content>
