<ion-header>
    <ion-navbar>
        <ion-title>{{ 'Home' | translate }}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <h2>{{ 'Quacheton Enterprise' | translate }}</h2>
    <p><img center src="assets/images/banner.png" /></p>
    <h4>
        {{ 'The adventure begins !' | translate }}
  </h4>
    <p>
        {{ 'Based on Nice, we will leave to explore the world to conceive the best solution for you.' | translate }}
    </p>
    <p id="icon">
    <ion-icon color="androidColor" name="logo-android"></ion-icon>
    <ion-icon color="appleColor" name="logo-apple"></ion-icon>
    <ion-icon color="windowsColor" name="logo-windows"></ion-icon>
    <ion-icon color="htmlColor" name="logo-html5"></ion-icon>
    <ion-icon color="ionicColor" name="ionic"></ion-icon>
  </p>
    <p>
        {{ 'For Web, Android, IOS, Windows Phone and multiplatform projects.' | translate }}
    </p>
</ion-content>