<ion-header>
    <ion-navbar>
        <ion-title>
            Borderline
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-card id="info">
        <img src="assets/images/borderline.jpg" />
        <ion-card-content>
            <ion-card-title>
                Borderline
            </ion-card-title>
            <p>
                {{ 'An Android game who use canvas and animations' | translate }}
            </p>
            <p>
                <strong>{{ 'Platform : ' | translate }}</strong>
                <ion-icon color="androidColor" name="logo-android"></ion-icon> Android
            </p>
            <p>
                <strong>{{ 'Team : ' | translate }}</strong>
                Quachéro Alaric, Blancheton Fabien
            </p>
            <p>
                <strong>{{ 'Time : ' | translate }}</strong>
                2 {{ 'Months' | translate }}
            </p>
        </ion-card-content>
        <a ion-button href="https://github.com/Fodzii/BorderLine">
            <ion-icon name="logo-github"></ion-icon>
            {{ 'Repository' | translate }}
        </a>
    </ion-card>
</ion-content>
