page-alaric-quachero {
    #info {
    	height: 96%;
        text-align: center;

        p{
            line-height: 2;
        }
    }
    #experience{
        height: 96%;
    	padding: 2%;
    }
    #training{
        height: 96%;
    	padding: 2%;
    }
    #skill{
        height: 96%;
    	padding: 2%;
    }
    #profil{
        height: 96%;
    	padding: 2%;
    }
    #project{
        height: 96%;
    	padding: 2%;
    }
    #contact{
        height: 96%;
    	padding: 2%;
    }
    img {
        width: 50%;
        border-radius: 100%;
        box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.8);
        display: initial;
    }
    textarea {
        height: 15em;
    }
   
}
