<ion-header>
    <ion-navbar>
        <ion-title>
            Alaric Quachéro
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-card id="info">
        <img src="assets/images/bigfish_begonia.jpg" />
        <ion-card-content>
            <ion-card-title>
                Alaric Quachéro
            </ion-card-title>
            <p>
                <strong>{{ 'Age : ' | translate }}</strong> 21 {{ 'years old' | translate }}
            </p>
            <p>
                <strong>{{ 'Job : ' | translate }}</strong>{{ 'Developer Android and Ionic' | translate }}
            </p>
            <p>
                {{ '#Poke!!!' | translate }}
            </p>
            <p>
                <strong>{{ 'Description : ' | translate }}</strong>{{ 'The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.' | translate }}
            </p>
        </ion-card-content>
    </ion-card>
    <ion-card id="experience">
        <ion-card-content>
            <ion-card-title>
                {{ 'Experience' | translate }}
            </ion-card-title>
            <p>
                <strong>2016 - 2017 : </strong>{{ 'Sandwich course with' | translate }} Tequilla Rapido
                <br>
                <strong>{{'Time : ' | translate }}</strong> 1 {{'years' | translate }}
            </p>
             <br>
            <p>
                <strong>2016 : </strong>{{ 'Internship with' | translate }} Orange Business Services
                <br>
                <strong>{{'Time : ' | translate }}</strong> 4 {{'months' | translate }}
            </p>
        </ion-card-content>
    </ion-card>
    <!--<ion-card id="training">
        <ion-card-content>
            <ion-card-title>
                {{ 'Training' | translate }}
            </ion-card-title>
            
        </ion-card-content>
    </ion-card>
    <ion-card id="skill">
        <ion-card-content>
            <ion-card-title>
                {{ 'Skill' | translate }}
            </ion-card-title>
            
        </ion-card-content>
    </ion-card>
    <ion-card id="profil">
        <ion-card-content>
            <ion-card-title>
                {{ 'Profil' | translate }}
            </ion-card-title>
            
        </ion-card-content>
    </ion-card>
    <ion-card id="project">
        <ion-card-content>
            <ion-card-title>
                {{ 'Projects' | translate }}
            </ion-card-title>
            
        </ion-card-content>
    </ion-card>-->
    <ion-card id="contact">
        <ion-card-content>
            <ion-card-title>
                {{ 'Contacts' | translate }}
            </ion-card-title>
            <form (ngSubmit)="formMail()">
              <ion-item>
                <ion-label>{{ 'Subject' | translate }}</ion-label>
                <ion-input type="text" [(ngModel)]="mail.subject" name="Subject"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>{{ 'Message' | translate }}</ion-label>
                <ion-textarea [(ngModel)]="mail.message" name="Message"></ion-textarea>
              </ion-item>
              <button ion-button type="submit" block>{{ 'Send' | translate }}</button>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>
